/*@headerBackgroundColor: #0d0d0d;*/
@headerBackgroundColor: gray;

@headerMessageColor: white;

body {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 720px;
    margin-left:auto;
    margin-right:auto;
}

header{
    height:50px;
    background-color: @headerBackgroundColor;
    margin-top: 10px;
    margin-bottom:10px;
}

header img {
    height: 50px;
    width: auto;
    margin-top: -13px;
    margin-left: -16px;
}

#HeaderMessage{
    margin-right:2px;
    color:@headerMessageColor;
}

.customSpinner {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.7em solid black;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}