.updateInventoryFunctionButtons {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
}
#UpdateInventoryInputsContainer {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
#UpdateInventoryContainer {
  border-top: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding-top: 15px;
  padding-bottom: 25px;
}
#UpdateInventrorySpinner {
  padding-top: 25px;
}
#itemResultContainer {
  overflow-x: auto;
}
#itemResultContainer {
  margin-top: 25px;
  padding-top: 15px;
}
#itemResultContainer table {
  border: 0px solid #bfbfbf;
}
#itemResultContainer table tr td {
  font-size: 70%;
  cursor: pointer;
  border-bottom: 1px solid #bfbfbf;
}
#itemResultContainer table thead {
  background-color: dimgray;
  color: white;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  font-size: 75%;
}
#itemResultContainer table tr:nth-child(2n) {
  background-color: lightgray;
}