<div class="col-12" id="functionsContainer">
    <div class="row functionsItem" ng-repeat="func in Functions" ng-click="AddNewMenuItem(func)">
        <div class="col-11">{{func}}</div>
        <div class="triangle-right"></div>
    </div>
</div>
