@using FamilyFrish_Demo.Resources;

<div class="col-12" id="inventoryRecordingContainer">
    <div class="row inventoryItem" ng-repeat="item in InventoryModelList">
        
        <div class="col-12 inventoryHeader">
            <span id="inventorylblState_{{$index}}">@Alapadatok.InventoryState</span>
            <span id="inventoryState_{{$index}}" class="inventoryLabel">{{item.inventoryState}}</span>
        </div>

        <div class="col-6">
            <button id="inventoryBtnClose_{{$index}}" class="btn btn-danger" ng-click="LockInventory(item)">@Alapadatok.InventoryRecordClose</button>
        </div>
        <div class="col-6">
            <button id="inventoryBtnOpen_{{$index}}" class="btn btn-success" ng-click="OpenInventory(item.inventoryId, item.warehouse)">@Alapadatok.InventoryRecordOpen</button>
        </div>

        <div class="col-12 inventoryBorder"></div>

        <div class="col-6">
            <span id="inventoryLblId_{{$index}}">{{inventoryIdLabel}}</span>
            <br />
            <span id="inventoryId_{{$index}}" class="inventoryLabel"> {{item.inventoryId}}</span>
        </div>
        <div class="col-6">
            <span id="inventoryLblWarehouse_{{$index}}">{{warehouseLabel}}</span>
            <br />
            <span id="inventoryWarehouse_{{$index}}" class="inventoryLabel">{{item.warehouse}}</span>
        </div>

        <div class="col-12 inventoryBorder"></div>

        <div class="col-6">
            <span id="inventoryLblRecordBegin_{{$index}}">{{inventoryRecordBeginLabel}} </span>
            <br />
            <span id="inventoryRecordBegin_{{$index}}" class="inventoryLabel">{{item.inventoryRecordBegin}}</span>
        </div>
        <div class="col-6">
            <span id="inventoryLblRecordEnd_{{$index}}">{{inventoryRecordEndLabel}} </span>
            <br />
            <span id="inventoryRecordEnd_{{$index}}" class="inventoryLabel">{{item.inventoryRecordEnd}} </span>
        </div>

        <div class="col-12 inventoryBorder"></div>

        <div class="col-12">
            <span id="inventoryLblNumberOfFixeditemsId_{{$index}}">{{numberOfFixeditemsIdLabel}} </span>
            <span id="inventoryNumberOfFixeditemsId_{{$index}}" class="inventoryLabel">{{item.numberOfFixedItems}} </span>
        </div>

        <div class="col-12 inventoryBorder"></div>

        <div class="col-12">
            <span id="inventoryLblComment_{{$index}}">{{inventoryCommentLabel}} </span>
            <br />
            <textarea id="inventoryComment_{{$index}}" class="form-control" rows="5" ng-model="item.comment" disabled></textarea>
        </div>
    </div>
</div>
