<div class="col-12" id="BreadCrumbNavbar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ng-repeat="items in NavItems" id="nav-{{items}}" ng-click="ClickOnMenuItem(items)">
                {{items}}
            </li>
        </ol>
    </nav>
</div>