@using FamilyFrish_Demo.Resources;


<div class="modal fade" id="yesNoModalContainer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    @*Disable other oepned modals*@
    <div class="disableSecondaryModals"></div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <label id="yesNoModalLbltext">{{YesNoModalModel.text}}</label>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="offset-4 col-2">
                        <button id="yesNoModalBtnNo" type="button" class="btn btn-danger mr-auto" data-dismiss="modal">@Alapadatok.YesNoModalNo</button>
                    </div>
                    <div class="col-2">
                        <button id="yesNoModalBtnYes" ng-click="ControllYesNoModal()" type="button" class="btn btn-success">@Alapadatok.YesNoModalYes</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>