<div>

    <div class="row">
        @Html.Partial("~/Views/Partial/NavigationForm.cshtml")
    </div>

    <div class="row">
        @Html.Partial("~/Views/Partial/LoginForm.cshtml")
    </div>


</div>