<div ng-controller="demoController">

    <div class="row">
        @Html.Partial("~/Views/Partial/LoginForm.cshtml")
    </div>

    @*<div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Hiba történt</strong>
        
        <hr ng-show="showExtendedErrorMessages">
        <span ng-show="showExtendedErrorMessages">
            Indicates a successful or positive action.asdawdasdawdawdIndicates a successful or positive action.asdawdasdawdawdIndicates
            a successful or positive action.asdawdasdawdawdIndicates a successful or positive action.asdawdasdawdawdIndicates a successful or positive action.asdawdasdawdawd
        </span>
    </div>*@

</div>